@import '../../index.scss';

#aboutgfx {
    padding: 0 25px;
    background-color: #f1f1f1;

    @media (max-width:768px) {
        padding: 0 30px;
    }

    .text-center {
        padding: 50px 0;
        text-align: center;

        h1,
        span {
            padding: 1rem 0 !important;

            font-size: 6rem;
            color: $primary-color;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            @media (max-width: 1200px) {
                font-size: 4rem;
            }
        }

        span {
            font-weight: 400;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
            color: $primary-color;

            margin-bottom: 1rem !important;
            line-height: 150%;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }

    .group-text {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .gfx-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            h1 {
                font-size: 1.4rem;
                font-weight: 900;
                color: $primary-color;


            }


            img {
                width: 50%;
                border-radius: 1rem;
                cursor: pointer;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}