@import '../../index.scss';

#aboutgfx {
    padding: 0 25px;
    background-color: #f1f1f1;

    @media (max-width:768px) {
        padding: 0 10px;
    }

    .text-center {
        padding: 50px 0;
        text-align: center;

        h1,
        span {
            font-size: 7rem;
            color: $primary-color;
            letter-spacing: 1px;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            @media (max-width: 1200px) {
                font-size: 4rem;
            }

            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }

        span {
            font-weight: 400;
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
            color: $primary-color;
            margin-bottom: 2rem;
            letter-spacing: 1px;
            line-height: 150%;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }

    .group-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        img {
            width: 70%;
            border-radius: 1rem;
            cursor: pointer;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}