@import "../../index.scss";

#about {
    background-color: $secondary-color;

    .title {
        margin: $margin;
        h1 {
            font-size: 10rem;
            font-weight: 500;
            line-height: 100%;
            color: $primary-color;
        }
    }
    .text {
        display: flex;
        align-items: end;
        justify-content: end;
        flex-direction: column;
        p {
            text-indent: 5rem;
            width: 60%;
            font-size: 3em;
            line-height: 1.5;
            color: $primary-color;
        }
    }

    .bottom-content {
        margin: $margin;

        display: flex;
        align-items: end;
        justify-content: end;
        p {
            width: 400px;
            padding: 1.5rem;
            border-radius: 5rem;
            border: 1px solid $border-color;
            color: $primary-color;
            font-size: 2rem;

            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 992px) {
        .title {
            h1 {
                font-size: 100px;
                font-weight: 500;
                line-height: 100%;
                color: $primary-color;
            }
        }
        .text {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            p {
                text-indent: 1rem;
                width: 100%;
                font-size: 2em;
                line-height: 1.5;
                color: $primary-color;
            }
        }

        .bottom-content {
            margin: $margin;

            display: flex;
            align-items: center;
            justify-content: center;
            p {
                width: 100%;
                padding: 1.5rem;
                border-radius: 5rem;
                border: 1px solid $border-color;
                color: $primary-color;
                font-size: 2rem;

                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                    cursor: pointer;
                }
            }
        }
    }
}

/* .text-available {
    margin: 2rem 0;
    width: 250px;
    background-color: $secondary-color;

    padding: 0.5rem 1.5rem;
    border-radius: 5rem;


    display: flex;
    align-items: center;
    gap: 1rem;

    p {
        font-size: 1rem;
        font-weight: 400;
        color: $primary-color;
    }

    b {
        color: $primary-color;
    }

    span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #0f0;
    }
} */
