@import '../../index.scss';

#aboutgfx {
    padding: 0 25px;
    background-color: #f1f1f1;

    @media (max-width:768px) {
        padding: 0 30px;
    }

    .text-center {
        padding: 50px 0;
        text-align: end;

        h1,
        span {
            padding: 2rem 0 !important;

            font-size: 6rem;
            color: $primary-color;
            letter-spacing: 1px;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            @media (max-width: 1200px) {
                font-size: 4rem;
            }

            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }

        span {
            font-weight: 400;
        }

        p {
            text-align: end;
            font-size: 1.5rem;
            font-weight: 500;
            color: $primary-color;

            margin-bottom: 1rem !important;
            letter-spacing: 1px;
            line-height: 150%;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }

    .group-text {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 3rem;

        .gfx-content {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 3rem;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            h1 {

                font-weight: 900;
                color: $primary-color;

                letter-spacing: 1px;
                text-transform: uppercase;
                transition: all 0.5s;
            }


            img {
                width: 50%;
                border-radius: 1rem;
                cursor: pointer;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}