@import '../../index.scss';

#about {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 !important;

    h1 {
        font-size: 5rem;
        color: $primary-color;
        font-weight: 900;
        transition: all 0.3s ease-in;
    }

    p {
        font-size: 1rem;
        font-weight: 900;
        color: $primary-color;
        margin-bottom: 2rem !important;
    }

    .text-content-left,
    .text-content-right,
    .text-content-center {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        padding: 4rem 0 !important;

        .sub-text-content {
            padding: 50px 0 !important;
            display: flex;
            align-items: end;
            justify-content: end;
            flex-direction: column;

            p {
                max-width: 50%;
                font-size: 1.4rem;
                font-weight: 400;
                color: $primary-color;
                margin-bottom: 2rem !important;
                line-height: 150%;
                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                span {
                    color: $primary-color;
                    font-size: 1.4rem;
                    font-weight: 900;
                }
            }
        }
    }

    .text-content-right {
        display: flex;
        align-items: end;
        justify-content: end;

        .sub-text-content {
            display: flex;
            align-items: start;
            justify-content: start;

        }
    }

    .text-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    @media (max-width: 768px) {

        .text-content-left,
        .text-content-right,
        .text-content-center {
            align-items: center;
            justify-content: center;
            text-align: center;


            h1 {
                text-align: center;

            }

            .sub-text-content {
                p {
                    max-width: 100%;
                }
            }
        }
    }

}



.go-home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem !important;
    gap: 1rem;

    a {
        border: 1px solid $border-color;
        padding: 1rem 2rem;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: $primary-color;
        letter-spacing: 1px;
        transition: all 0.5s;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 !important;
    gap: 5rem;
}