@import '../../index.scss';

#about {
    background-color: $primary-color;
    padding: $padding ;

    .sub-text-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: $secondary-color;
            font-size: 2.5rem;
            font-weight: 400;

            max-width: 60%;
            margin-bottom: 3rem;
        }

        .other-text {
            display: flex;
            align-items: center;
            flex-direction: column;

            p {
                color: $secondary-color;
                font-size: 1rem;
                font-weight: 300;
            }

            span {
                width: 250px;
                height: 250px;
                background-color: $third-color;
                border-radius: 50%;

                color: $secondary-color;


                display: flex;
                align-items: center;
                justify-content: center;

                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }
        }
    }


}

@media (max-width: 992px) {
    #about {

        .sub-text-content {
            width: 100%;

            p {
                max-width: 100%;
                font-size: 32px;
            }
        }
    }
}



/* .text-available {
    margin: 2rem 0;
    width: 250px;
    background-color: $secondary-color;

    padding: 0.5rem 1.5rem;
    border-radius: 5rem;


    display: flex;
    align-items: center;
    gap: 1rem;

    p {
        font-size: 1rem;
        font-weight: 400;
        color: $primary-color;
    }

    b {
        color: $primary-color;
    }

    span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #0f0;
    }
} */