@import "../../index.scss";

#services {
    background-color: $primary-color;

    .text-content {
        margin: $margin;
        width: $width;

        h1 {
            color: $secondary-color;
            font-size: 100px;
            font-weight: 400;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .card {
            width: 500px;
            height: 350px;
            .order {
                width: 100%;
                display: inline-block;
                border-bottom: 1px solid $border-color;
                margin-bottom: 1rem;

                font-size: 2rem;
            }

            .text-card {
                h1 {
                    color: $secondary-color;
                    font-size: 3rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }

                p {
                    color: $secondary-color;
                    font-size: 1.3rem;
                    line-height: 130%;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .cards {
            justify-content: center;
            align-content: center;

            .card {
                max-width: 100%;
            }
        }
    }
}
