#music {
    background: #111111 url('/public/background.webp');
    background-size: cover;
    display: flex;

    padding: 0 25px;
    min-height: 70vh;

    @media (max-width:992px) {
        padding: 50px 10px;
    }
}

.music-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    padding: 1rem;

    h1 {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 4rem;
        font-weight: 900;
        color: #ffffff;
        letter-spacing: 5px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }

    p {
        max-width: 80%;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.24px;
        margin-bottom: 1rem;

        @media (max-width:1250px) {
            max-width: 100%;
        }
    }
}



.slider {
    position: relative;
    display: inline-block;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;

    .photo-music-after {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 400px;
            border-radius: 1rem;
            transition: opacity 0.3s ease-in-out;
        }

        .logo-overlay {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;

            svg {
                padding: 0.5rem;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.5s;
                font-size: 3.5rem;
                background: url('/public/grain-background.webp');
                background-size: contain;
                transform: scale(1.2);

            }
        }

        &:hover {
            img {
                opacity: 0.5;
            }

            .logo-overlay {
                opacity: 1;
            }
        }

        @media (max-width: 768px) {
            .photo-music-after {
                flex: 0 0 auto;
                width: 100%;
                white-space: nowrap;

                img {
                    scroll-snap-align: center;
                    width: 100%;
                }
            }
        }
    }
}