@import "../../index.scss";

#slideText {
    background-color: $primary-color;
    position: relative;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    width: 100%;
    height: 20vh;

    display: flex;
    overflow: hidden;
    z-index: -1;

    h1 {
        color: $secondary-color;
    }
}

.sliderContainer {
    position: absolute;
    .slider {
        display: flex;
        align-items: center;
        gap: 25%;
    }
}

@media (max-width: 768px) {
    #slideText {
        height: 15vh;
    }
    .sliderContainer {
        .slider {
            gap: 10%;
        }
    }
}
