@import "../index.scss";

button {
    background-color: none;
    outline: none;
    border: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
    transition: filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.blur {
        filter: blur(10px);
    }
    @media (max-width: 992px) {
        padding: 0 30px;
    }
}

a,
button {
    cursor: pointer;
}

.grid-layout {
    max-width: $width;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}
