@import "../index.scss";

button {
    background-color: none;
    outline: none;
    border: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a,
button {
    cursor: pointer;
}

.grid-layout {
    max-width: $width;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}
