@import '../index.scss';

button {
    background-color: none;
    outline: none;
    border: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;

    @media (max-width:992px) {
        padding: 0 30px;
    }
}

a,
button {
    cursor: pointer;
}

.grid-layout {
    max-width: 80%;
    margin: 0 auto;

    @media (max-width:768px) {
        max-width: 100%;
    }
}
