@import '../../index.scss';

#contact {
    background-color: $secondary-color;
    padding: $padding;

    .text-content {
        width: $width;

        h1 {
            color: $primary-color;
            font-size: 200px;
            font-weight: 600;
        }

        p {
            color: $primary-color;
            font-size: 32px;
            font-weight: 300;
        }
    }
}