@import "../../index.scss";

#contact-home {
    background-color: $primary-color;
    padding: $padding;
    height: 80vh;

    display: flex;
    align-items: center;

    .text-content {
        display: flex;

        flex-direction: column;
        gap: 1rem;

        h1 {
            position: relative;
            color: $secondary-color;
            font-size: 150px;
            font-weight: 500;
            line-height: 100%;

            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .border {
            margin: 10px 0;
            width: 0;
            height: 3px;
            overflow: hidden;
            background-color: $secondary-color;
            transition: width 1s;
        }

        svg {
            transition: transform 0.5s;
        }

        a:hover {
            svg {
                transform: rotate(45deg);
            }

            .border {
                width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        .text-content {
            h1 {
                font-size: 32px;
            }

            svg {
                height: 40px;
                width: 40px;
            }
        }
    }
}
