@import '../../index.scss';

#contact {
    background-color: $secondary-color;
    padding: $padding;

    .text-content {
        width: $width;

        h1 {
            color: $primary-color;
            font-size: 200px;
            font-weight: 600;
        }

        p {
            color: $primary-color;
            font-size: 32px;
            font-weight: 300;
        }
    }

    form {

        input,
        textarea {
            width: 100%;
            padding: 2rem;
            color: $secondary-color;

            border-radius: 1rem;
            background-color: $primary-color;

            margin-bottom: 2rem;
        }

        button {
            width: 100%;
            padding: 2rem;
            color: $secondary-color;

            border-radius: 1rem;
            background-color: $primary-color;
        }
    }
}