@import '../../index.scss';

#home {
    min-height: 100vh;

    background:
        $primary-color;

    .header-content {
        h1 {
            color: $secondary-color;
            font-size: 8rem;
            font-weight: 600;
            border-bottom: 1px solid $border-color;
        }
    }

    .bottom-content {
        position: relative;
        top: 100px;
        width: 80vw;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .text-content {
            p {
                max-width: 50%;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 1rem;
            }
        }


        @media (max-width: 768px) {
            top: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            .text-content {
                p {
                    max-width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {

        .header-content {

            h1,
            span {
                color: $secondary-color;
                font-size: 5rem;
                font-weight: 900;
            }

        }
    }
}