#home {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 1) 21%, rgba(14, 14, 14, 1) 45%, rgba(28, 28, 28, 1) 74%, rgba(31, 31, 31, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
    min-height: 100vh;

    @media (max-width:992px) {
        padding: 0 10px;
    }
}

.home-content {
    flex-direction: column;
    color: #ffffff;

    .text-wrapper {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-size: 10rem;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        transition: all 0.5s;
    }

    p {
        font-size: 2rem;
        color: #ffffff;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .border-bottom {
        height: 5px;
        width: 80px;
        background-color: #e0e0e0;
        margin-bottom: 1rem;
    }

    @media (max-width: 1250px) {
        h1 {
            font-size: 3.5rem;
        }
    }

    @media (max-width: 768px) {

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}



.home-bottom-content-2 {
    position: relative;
    top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;


    ul {
        padding: 1rem;

        border: 1px solid #757575;
        border-radius: 5rem;

        display: flex;
        gap: 1rem;

        a {
            padding: 0 1.5rem;
            font-size: 0.8rem;

            color: #ffffff;

            letter-spacing: 1px;
            text-transform: uppercase;
            transition: all 0.5s;

            &:hover {
                text-shadow: 2px 2px 2px #ffffff90;
            }
        }

        @media (max-width: 1650px) {
            a {
                padding: 0 0.5rem;
            }
        }

        @media (max-width: 768px) {
            gap: 0.5rem;
        }
    }


}