@import '../../index.scss';

#home {
    min-height: 100vh;

    background-color: $primary-color;

    .home-header {
        width: 100vw;

        @media (max-width: 992px) {
            text-align: center;
            width: 100%;
        }

        h1,
        span {
            font-size: 8rem;
            color: $secondary-color;
            font-weight: 900;
            transition: all 0.3s ease-in;


            @media (max-width: 1450px) {
                font-size: 5rem;
            }

            @media (max-width: 768px) {
                font-size: 3.5rem;
            }
        }

        span {
            color: transparent;
            -webkit-text-stroke: 1px #ffffff;

            &:hover {
                color: $secondary-color;
            }
        }

        h1 {
            &:hover {
                color: transparent;
                -webkit-text-stroke: 1px #ffffff;
            }
        }

        p {
            font-size: 1rem;
            font-weight: 900;
            line-height: 180%;
            color: $secondary-color;

            text-transform: uppercase;
            transition: all 0.5s;
        }
    }

    .bottom-content {
        position: relative;
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        ul {
            display: flex;
            gap: 2rem;

            a {
                font-size: 0.8rem;
                font-weight: 900;
                color: $secondary-color;
                letter-spacing: 1px;

                text-transform: uppercase;
                transition: all 0.5s;
            }
        }

        p {
            max-width: 500px;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 180%;
            color: $secondary-color;

            text-transform: uppercase;
            transition: all 0.5s;

            span {
                font-weight: 900;
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;
            text-align: center;
        }

    }
}