    @import '../../index.scss';

    .text-center {
        background-color: $primary-color;
        text-align: center;

        h1 {
            padding: 25px 0 !important;
            font-size: 3rem;
            color: $secondary-color;
            font-weight: 900;
            transition: all 0.5s ease-in;

            @media (max-width: 1200px) {
                font-size: 4rem;
            }

            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }

    }

    .text-container {
        position: sticky;
        top: 0;
      }