@import "../../index.scss";

#features {
    background-color: $primary-color;

    .title {
        width: $width;
        margin: 5rem 0 0 0;
        h1 {
            color: $secondary-color;
            text-align: center;
            font-size: 6rem;
            font-weight: 600;
            line-height: 135%;
            letter-spacing: -0.33rem;
        }
    }

    .feat-content {
        display: flex;
        width: $width2;
    }

    .left-title {
        h1 {
            position: sticky;
            top: 50%;

            width: 100%;
            height: 150px;

            color: $secondary-color;

            font-size: 2.5rem;
            font-weight: 500;

            letter-spacing: -0.17rem;

            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    .right-texts {
        .feat-header {
            display: flex;
            align-items: center;
            flex-direction: column;

            .subtitle {
                padding: 3rem 0;
                display: flex;
                justify-content: end;
                text-align: end;

                p {
                    color: $secondary-color;

                    font-size: 2.375rem;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.131rem;
                    max-width: 80%;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .title {
            h1 {
                font-size: 3rem;
                letter-spacing: -0.23rem;
            }
        }

        .feat-content {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .left-title {
            h1 {
                position: static;
                font-size: 2rem;
            }
        }

        .right-texts {
            .feat-header {
                .subtitle {
                    padding: 1px;
                    display: flex;
                    justify-content: end;
                    text-align: end;

                    p {
                        font-size: 1.5rem;
                        max-width: 90%;
                    }
                }
            }
        }
    }
}
