@import "../../index.scss";

#features {
    background-color: $primary-color;
    margin: $margin;
    .grid-layout {
        width: $width2;
    }
    .title {
        margin: $margin;
        h1 {
            color: $secondary-color;
            text-align: center;
            font-size: 6rem;
            font-weight: 600;
            line-height: 135%;
            letter-spacing: -0.33rem;
        }
    }

    .feat-content {
        display: flex;
    }

    .left-title {
        width: 100%;
        h1 {
            position: sticky;
            top: 50%;

            width: 100%;
            height: 150px;
            padding: 1rem;

            color: $secondary-color;

            font-size: 3rem;
            font-weight: 500;

            letter-spacing: -0.22rem;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .right-texts {
        .feat-header {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
           
            .subtitle {
                padding: $padding;
                display: flex;
                justify-content: end;
                text-align: end;

                p {
                    color: $secondary-color;

                    font-size: 2.375rem;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.131rem;
                    max-width: 80%;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .title {
            h1 {
                font-size: 3rem;
                letter-spacing: -0.23rem;
            }
        }

        .feat-content {
            display: flex;
            flex-direction: column;
        }
        .left-title {
            width: 100%;
            h1 {
                position: static;

                width: 100%;
                height: 150px;
                padding: 1rem;

                color: $secondary-color;

                font-size: 3rem;
                font-weight: 500;

                letter-spacing: -0.22rem;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .right-texts {
            .feat-header {
                padding: 1px;
                .subtitle {
                    padding: 1px;
                    display: flex;
                    justify-content: end;
                    text-align: end;

                    p {
                        font-size: 2.075rem;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
