@import "../../index.scss";

#several {
    background-color: $secondary-color;
    .several-content {
        width: $width;
        margin: $margin;

        h1 {
            font-size: 8rem;
            line-height: normal;
            font-weight: 700;
            letter-spacing: -0.313rem;
            color: $primary-color;
            letter-spacing: -0.44rem;
            text-align: end;
        }
    }

    .bottom-content {
        position: relative;
        bottom: 100px;
        img {
            animation: animation 10s linear infinite;
            mix-blend-mode: exclusion;
            cursor: pointer;
        }
    }
    @media (max-width: 992px) {
        .several-content {
            h1 {
                font-size: 3rem;
                letter-spacing: -0.24rem;
            }
        }

        .bottom-content {
            bottom: 40px;
        }
    }
}

@keyframes animation {
    to {
        transform: rotate(360deg);
    }
}
