@import '../../index.scss';

.preloader {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    overflow: hidden !important;

    .preloader-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
    }

    h1 {
        font-size: 7rem;
        color: $primary-color;
        font-family: 'milker', sans-serif;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        transition: all 0.5s;
    }

    .better-experience {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 3rem;
            color: $primary-color;

            text-transform: uppercase;
            margin-bottom: 1rem;
            transition: all 0.5s;
        }

        .logos {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }
    }
}