@import "../../index.scss";

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px 50px;
    z-index: 9999999;

    @media (max-width: 992px) {
        padding: 40px 30px;
    }
}

nav {
    .desktop {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
            text-decoration: none;
            list-style: none;
            a {
                font-weight: 500;
                font-size: 1.3rem;
                letter-spacing: -0.05rem;

                color: rgb(114, 114, 114);

                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .block {
                opacity: 0;
                position: absolute;
                top: 35px;

                width: 15px;
                height: 3px;

                overflow: hidden;
                background-color: $secondary-color;

                transition: opacity 0.3s;
            }
            &:hover {
                a {
                    color: $secondary-color;
                }
                .block {
                    opacity: 1;
                }
            }
        }

        @media (max-width: 768px) {
            gap: 2rem;
        }
    }

    #bars {
        position: fixed;
        background-color: $four-color;
        border-radius: 50%;
        padding: 1rem;
        right: 50px;
        display: flex;
        user-select: none;
        overflow: hidden;
        z-index: 9999;

        cursor: pointer;

        &::after {
            position: absolute;
            top: 100%;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;

            background-color: $primary-color;
            content: "";

            transition: top 0.5s;
        }

        &:hover::after {
            top: -1px;
        }

        &:hover::before {
            top: 0px;
        }

        @media (max-width: 768px) {
            padding: 0.5rem;
        }

        .hamburger-react {
            z-index: 9999;
        }
    }
}
