@import "../../index.scss";

header {
    mix-blend-mode: exclusion;

    position: fixed;
    top: 0;
    right: 0;
    margin: 40px 50px;
    z-index: 9999999;

    @media (max-width: 992px) {
        margin: 40px 30px;
    }
}

nav {
    .desktop {
        display: flex;
        align-items: center;
        gap: 3rem;
        li {
            text-decoration: none;
            list-style: none;
            a {
                font-weight: 400;
                font-size: 1rem;

                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
            }
            .block {
                opacity: 0;
                position: absolute;
                top: 30px;

                width: 15px;
                height: 3px;

                overflow: hidden;
                background-color: $secondary-color;

                transition: opacity 0.3s;
            }
            &:hover {
                .block {
                    opacity: 1;
                }
            }
        }

        @media (max-width: 768px) {
            gap: 2rem;
        }
    }

    #bars {
        position: fixed;
        background-color: $secondary-color;
        border-radius: 50%;
        padding: 1rem;
        right: 50px;
        display: flex;
        user-select: none;
        z-index: 9999;

        cursor: pointer;
        @media (max-width: 768px) {
            padding: 0.5rem;
        }
        .hamburger-react {
            z-index: 9999;
        }
    }
}
