@import "../../index.scss";
.mobile {
    position: fixed;
    right: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: $secondary-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;

    overflow: hidden;
    transition: height 0.5s ease-in-out;
    z-index: 998;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    @media (min-width: 992px) {
        display: none;
    }

    li {
        width: 80%;

        display: flex;
        align-items: start;
        justify-content: start;

        a {
            color: $primary-color;
            font-size: 4rem;
            font-weight: 600;

            position: relative;

            display: flex;
            align-items: center;
            gap: 1rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .text-nav {
        position: relative;
        top: 100px;
        width: 80%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        p {
            color: $primary-color;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}
