@import '../index.scss';

.arrow {
    svg {
        width: 100px;
        height: 100px;

        fill: $primary-color;

        transition: transform .3s;
    }

    &:hover {
        svg {
            transform: rotate(45deg);
        }
    }
}