@import '../index.scss';

.arrow {
    svg {
        width: 150px;
        height: 150px;

        background-color: $primary-color;
        border-radius: 50%;
        padding: 3.5rem;

        transition: transform .3s;
    }

    &:hover {
        svg {
            transform: rotate(45deg);
        }
    }
}