@import '../index.scss';

.arrow {
    svg {
        width: 200px;
        height: 200px;

        background-color: $primary-color;
        border-radius: 50%;
        padding: 5rem;

        transition: transform .3s;
    }

    &:hover {
        svg {
            transform: rotate(45deg);
        }
    }
}