@import '../../index.scss';

#projects {
    padding: 0 25px;
    background: $secondary-color;

    border-bottom: 1px solid $border-color;
}

.projects-content {
    padding: 50px 0;

    h1,
    span {
        padding: 2rem 0 !important;
        font-size: 5rem;
        color: $primary-color;
        font-weight: 900;
        transition: all 0.3s ease-in;

        @media (max-width: 768px) {
            font-size: 3.5rem;
        }
    }

    p {
        font-size: 2rem;
        font-weight: 400;
        color: $secondary-color;
        margin-bottom: 1rem !important;
        letter-spacing: 1px;
        line-height: 150%;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        span {
            font-size: 2rem;
            font-weight: 900;
        }
    }
}