@import "../../index.scss";

footer {
    background-color: $third-color;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: border-radius-anim 1s linear forwards;
    animation-timeline: view();
    animation-range: 0% 20%;
    .footer-content {
        width: $width2;
        padding: $padding;

        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 2rem;
            color: $secondary-color;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}

@keyframes border-radius-anim {
    from {
        border-radius: 100% 100% 0 0;
    }
    to {
        border-radius: 2rem 2rem 0 0;
    }
}
