@import '../../index.scss';

footer {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    p {
        font-size: 1rem;
        color: #ffffff;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    svg {
        height: 50px;
        width: 50px;
        border: 1px solid #757575;
        border-radius: 5rem;
        padding: 1rem;
        cursor: pointer;
    }

}