footer {
    background: #121212;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 25px;

    p {
        font-size: 1rem;
        color: #ffffff;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: 'Hanson-Bold', sans-serif;
    }

    svg {
        height: 50px;
        width: 50px;
        border: 1px solid #757575;
        background-color: #2e2e2e25;
        border-radius: 5rem;
        padding: 1rem;
        cursor: pointer;
    }

}