@import '../../index.scss';

#recent {
    background:
        $secondary-color;

    .image {
        background: url('/wallpaper3.webp') no-repeat center;
        background-size: cover;
        border-radius: 2rem;
        width: 100%;
        height: 800px;
        margin: 2rem 0;
    }

    .image:nth-child(2) {
        background: url('/wallpaper2.webp') no-repeat center;
    }

    .image:nth-child(1) {
        background: url('/wallpaper.webp') no-repeat center;
    }

}