@import '../../index.scss';

#expertises {
    background-color: $primary-color;
    padding: $padding;
 
    .text-content {
        width: $width;


        h1 {
            color: $secondary-color;
            font-size: 200px;
            font-weight: 600;
            line-height: 1.25em;
        }
    }

    details {
        padding: 4rem 0;
        border-bottom: 1px solid $border-color;
        user-select: none;

        summary {
            display: flex;
            align-items: center;
            justify-content: space-between;

            color: $secondary-color;
            font-size: 58px;
            font-weight: 500;
        }

        ul {
            display: flex;
            gap: 3rem;
            padding: 5vh 0 !important;

            li {
                list-style: disc;

                color: $secondary-color;

                font-size: 32px;
                font-weight: 400;
            }
        }
    }

    .plusminus {
        position: relative;
        width: 25px;
        height: 25px;
        cursor: pointer;

        &.active {
            &:before {
                transform: translatey(-50%) rotate(-90deg);
                opacity: 0;
            }

            &:after {
                transform: translatey(-50%) rotate(0);
            }
        }

        &:before,
        &:after {
            content: "";
            display: block;
            background-color: $secondary-color;
            position: absolute;
            top: 50%;
            left: 0;
            transition: .35s;
            width: 100%;
            height: 3px;
        }

        &:before {
            transform: translatey(-50%);
        }

        &:after {
            transform: translatey(-50%) rotate(90deg);
        }

    }

    @media (max-width:768px) {
        .expertises-content {

            .text {
                flex-direction: column;
                align-items: start;
                justify-content: start;

                p {
                    max-width: 100%;
                }
            }
        }
    }
}