@import '../../index.scss';

#expertises {
    background-color: $primary-color;

    .text-content {
        width: 80vw;
        margin: 10vh 0 !important;

        h1 {
            color: $secondary-color;
            font-size: 64px;
            font-weight: 600;
            line-height: 1.25em;
        }
    }

    .border {
        margin: 5vh 0 !important;
        border-bottom: 1px solid $border-color;
    }

    .bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;



        h1 {
            color: $secondary-color;
            font-size: 38px;
            font-weight: 400;
        }

        p {
            color: $secondary-color;
            max-width: 50%;

            font-size: 22px;
            line-height: 160%;
            font-weight: 300;
        }
    }

    @media (max-width:768px) {
        .bottom-content {

            .text {
                flex-direction: column;
                align-items: start;
                justify-content: start;

                p {
                    max-width: 100%;
                }
            }
        }
    }
}