@import '../../index.scss';

#expertises {
    background-color: $secondary-color;
    padding: 50px 0;

    h1 {
        font-size: 7rem;
        color: $primary-color;
        font-weight: 800;
    }

    h2 {
        font-size: 5rem;
        color: $primary-color;
        font-weight: 800;
    }

    .text-content-center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20vh !important;
    }


    .bottom-content {
        width: 80vw;
        margin-top: 15vh !important;

        .first-layout {
            padding: 1rem;
            border-bottom: 1px solid $border-color;

            display: flex;
            align-items: center;
            justify-content: space-between;


            p {
                margin-bottom: 2rem !important;
                max-width: 50%;

                font-size: 1.3rem;
                font-weight: 600;
                line-height: 150%;

                color: $primary-color;

                span {
                    color: $primary-color;
                    font-size: 1.4rem;
                    font-weight: 900;
                }
            }
        }

        .second-layout {
            padding: 1rem;
            border-bottom: 1px solid $border-color;

            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;

                li {
                    a {
                        padding: 1rem;

                        border: 1px solid $border-color;
                        background-color: $secondary-color;
                        border-radius: 5rem;

                        font-size: 1rem;
                        font-weight: 500;

                        color: $primary-color;

                        transition:
                            all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                    }
                }
            }
        }

        .third-layout {
            padding: 1rem;
            border-bottom: 1px solid $border-color;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .icons {
                display: flex;
                align-items: center;
                gap: 2rem;

                img {
                    mix-blend-mode: exclusion;
                }
            }
        }
    }
}