@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

$primary-color: #141516;
$secondary-color: #efefed;
$third-color: #1d1d1d;
$border-color: #b4b4b4;
$width: 90vw;
$width2: 80vw;
$padding: 10vh 0 !important;
$margin: 10vh 0 !important;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: $secondary-color;
  font-family: "Inter", sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  height: 100%;
  background-color: $secondary-color;
}

::selection {
  background-color: #b4b4b4;
  color: $primary-color;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $third-color;
  border-radius: 1px;
}
