@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

$primary-color: #0e0e0e;
$secondary-color: #efefed;
$third-color: #161616;
$four-color: #383838;
$border-color: #424242;
$width: 95vw;
$width2: 80vw;
$padding: 10vh 0 !important;
$margin: 10vh 0 !important;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: $secondary-color;
  font-family: "Inter", sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  height: 100%;
  background-color: $primary-color;
}

::selection {
  background-color: #b4b4b4;
  color: $primary-color;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $third-color;
  border-radius: 1px;
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  /* you can control opacity of noise  */
  opacity: 0.02;
  z-index: 1000;
  pointer-events: none;
  background: url("/public/noise.gif");
}
