@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

@font-face {
  font-family: 'Hanson-Bold';
  src: url('/public/Hanson-Bold.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-family: 'Hanson-Bold', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111111;
  overflow-x: hidden;
}

.grid-layout {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.animation {
  display: block;
  position: sticky;
  z-index: 99999;
}

::selection {
  background-color: #757575;
  color: #2a2a2a;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 10px;
}