@import '../../index.scss';

header {
    position: fixed;
    width: 100%;
    top: 0;
    mix-blend-mode: exclusion;
    z-index: 999999;

    @media (max-width: 768px) {
        padding: 10px;
    }
}

nav {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        max-width: 90%;
        padding: 5px 0;
    }

    ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        overflow: hidden;
        transition: width 0.1s;
    }

    li {
        color: $primary-color;

        span {
            font-size: 1rem;
            font-weight: 900;
            transition: all 0.3s ease-in;
        }

        a {
            font-size: 3rem;
            font-weight: 900;
            transition: all 0.3s ease-in;
        }
    }
}

.bars {
    display: flex;
    align-items: center;
    user-select: none;

    background-color: $secondary-color;
    border: 1px solid $border-color;
    border-radius: 50%;
    padding: 0.2rem;
    z-index: 99999;

    .hamburger-react {
        z-index: 99999;
    }
}

.open {
    width: 100vw;
}

.removeBlend {
    mix-blend-mode: normal;
}