@import '../../index.scss';

header {
    position: fixed;
    width: 100%;
    top: 0;

    mix-blend-mode: exclusion;
    z-index: 999999;

    @media (max-width: 768px) {
        padding: 10px;
    }
}


nav {
    max-width: 70%;
    margin: 0 auto;

    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:768px) {
        max-width: 100%;
    }

    ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;

        background: $primary-color;

        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        overflow: hidden;
        z-index: 9998;
        transition: width 0.1s;

        @media (max-width: 1300px) {
            a {
                font-size: 3rem;
            }
        }

        li {
            padding-left: 100px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 7rem;
            font-weight: 400;
            color: $secondary-color;
            letter-spacing: 1px;

            a {
                color: $secondary-color;
                font-size: 5rem;
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }


            span {
                color: $secondary-color;
                font-size: 2rem;
            }
        }

        h1 {
            font-size: 7rem;
            color: $primary-color;

            letter-spacing: 1px;

        }
    }
}


.hamburger-react {
    z-index: 99999;
}

.logo {
    z-index: 9999;
    mix-blend-mode: exclusion;
}


.bars {
    display: flex;
    align-items: center;
    user-select: none;
}

.removeBlend {
    mix-blend-mode: normal;
}


.open {
    width: 100vw;
}