#gang {
    padding: 50px 0;
}

.carousel-container {
    border-bottom: 1px solid #616161;
    border-top: 1px solid #616161;

    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
    position: relative;


    &::before,
    &::after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
    }

    &::before {
        left: 0;

    }

    &::after {
        right: 0;

    }

    &:hover section {
        animation-play-state: paused;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: start;
        animation: 25s slide infinite linear;

        img {
            margin-right: 4rem;
            padding: 2rem;

            @media (max-width:768px) {
                margin-right: 1rem;
                width: 150px;
                height: 110px;
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#gang .pxulin-music-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;

    h1 {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 3rem;
        font-weight: 900;
        color: #ffffff;
        letter-spacing: 5px;
        margin-bottom: 2rem;
    }
}