#gang {
    padding: 50px 0;
}

.carousel-container {
    border-bottom: 2px solid #949494;
    border-top: 2px solid #949494;
    background-color: #00000045;
    border-radius: 5rem;

    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
    position: relative;


    &::before,
    &::after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
    }

    &::before {
        left: 0;

    }

    &::after {
        right: 0;

    }

    &:hover section {
        animation-play-state: paused;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: start;
        animation: 25s slide infinite linear;

        img {
            margin-right: 4rem;
            padding: 2rem;
        }


        @media (max-width:1200px) {
            animation: 15s slide infinite linear;

            img {
                margin-right: 1rem;
                width: 200px;
                height: 130px;
            }
        }

        @media (max-width:768px) {
            animation: 15s slide infinite linear;

            img {
                margin-right: 1rem;
                width: 150px;
                height: 110px;
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}