@import '../../../index.scss';

#recent1 {
    background-color: $primary-color;
    padding: $padding;

    .return {
        position: relative;
        margin: 3vh 0 !important;
    }

    .text-content {
        width: $width;

        h1 {
            font-size: 150px;
            font-weight: 900;
        }

        p {
            font-size: 54px;
            font-weight: 500;
            line-height: 150%;
            max-width: 60%;
        }
    }

    .specs {
        width: $width;
        display: flex;
        align-items: center;
        gap: 3rem;

        .col {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            h1,
            p {
                border-bottom: 1px solid $border-color;
                width: 500px;
            }

            h1 {
                font-weight: 500;
                font-size: 40px;
            }

            p {
                font-weight: 900;
                font-size: 80px;

            }
        }
    }

    @media (max-width:768px) {

        .text-content {
            width: $width;

            h1 {
                font-size: 80px;
            }

            p {
                font-size: 32px;
                max-width: 100%;
            }
        }

        .specs {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5rem;

            .col {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 0;
                width: 100%;

                h1,
                p {
                    border-bottom: 1px solid $border-color;
                }

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 80px;
                }
            }
        }
    }
}